Pll.ppf
Pll.qip
Pll.sip
Pll.spd
Pll/
Pll_sim.f
Pll_sim/
assignment_defaults.qdf
c5_pin_model_dump.txt
db/
in_class_assignment_02_05/
in_class_assignment_02_12/
incremental_db/
new_rtl_netlist
old_rtl_netlist
output_files/
project3.qarlog
project3.zip
project3_frame.archive.rpt
project3_frame.ipregen.rpt
project3_frame.restore.rpt
project3_frame.v.bak
project3_frame_nativelink_simulation.rpt
qar_info.json
simulation/
project3_frame.qws
